extends layout

block content
  .row
    .col-md-4
    .col-md-4
      h1 Vomment
      video(autoplay muted wdith="200px" height="200px")
      a(href="#").js-start
        p Vomment
      a(href="/")
        p back
    .col-md-4

  script.
    window.sURL = '#{submitPath}';
