extends layout

block content
  h1 Comment will submit to
  a(href=submitPath) here

  video(autoplay muted wdith="200px" height="200px")
  a(href="#").js-start
    p Start
  a(href="#").js-comment
    p Vomment

