extends layout

block content
  h1 #{title}

  each story in stories
    .teasers
      a(href="/#{story.id}") 	
        h5 #{story.headline}
      a(href="/#{story.id}/create")
        img(src="images/imageedit_8_5842369433.png")
