extends layout

block content
  h1 #{title}

  .row
    each story in stories
      .col-md-8
        a(href="/#{story.id}")
          h5 #{story.headline}
      .col-md-4
        a(href="/#{story.id}/create")
          h5 Vomment
