doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js")
    script(src='/javascripts/main.js')
  body
    block content
